@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #ffffff;
}
/* Style scrollbar globally */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ffffff #b7b7b7; /* Firefox */
}

/* For Chrome, Safari and Edge */
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: #f5f2fa;
}

*::-webkit-scrollbar-thumb {
  background-color: #7c7c7c;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FAF2F7;
  }
  a:hover {
    color: #3A0F47;
  }
  button {
    background-color: #3A0F47;
  }
}
